html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 80%;
    margin: 15px auto;
}

body,body a{
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    font-size: 40px;
    font-weight: bold;
}
.logocolor{
    color: #E3484B
}
.btn{
    background-color: #E3484B;
    border-radius: 25% 10%;
    padding: 10px 20px;
    border-color: transparent;
}

nav a{
    margin-left: 5rem;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.mb{
    margin-bottom: 30px;
}

.A-1{
    padding-top: 50px;
    font-size: 55px;
    font-weight: mixed;
    max-width: 560px;
}

.A-2{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.65);
}

.main img{
    display: inline-block;
    margin-right: -100px;

    padding: 0;
    height: 450px;
    width: 100%;
}

.btn-1{
    background-color: #E3484B;
    padding: 8px;
    margin-right: 30px;
    font-size: 22px;
    color: #FFFFFF;
    border-color: transparent;
}

.btn-2{
    border-radius: 25% 10%;
    border-color:#E3484B ;
    padding: 8px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 22px;
}

footer{
    margin-top: 50px;
    background-color: #E3484B;
    padding: 30px;
}

footer .text-center{
    font-size: 40px;
    width: 40%;
    margin: 0 auto;
}

footer .footer-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

footer .footer-logo img{
    display: inline-block;
    height: 100px;
    width: 100px;
}